body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
}
.container-xs{
    border: solid 3px black;
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 20px;
    width: 50%;
}
.container-fluid{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin: 2%;
}
.col-sm-8{
    border: solid 2px black;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 6%;
}