.empty{
    height:50vh;
    width:50px;
  }
  .title{
    display: flex;
    border:1px solid black;
    justify-content: center;
  }
  .selected_item{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(305deg) brightness(101%) contrast(102%)
  }
  .navbar{
    position:fixed;
    border:1px solid black;
    width: fit-content;
    flex: 0 1 0;
    flex-direction: column;
    display: flex;
    bottom: -2px;
    left: 0px;
    height: 100vh;
  }
  .icon{
    flex-direction: column;
    flex: auto;
    display: flex;
    width:auto;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
  .icon:hover{
    background-color: black;
  }
  .a_icon{
    height: 54px;
  }
  .content{
    display: flex;
    flex: auto;
    flex-direction: row;
    }
    .statH{
        background-color: #e6c18d;
        display: flex;
        flex:auto;
        border:2px solid black;
        justify-content: center;
        height: 5vh;
        font-size: 3vh;
        }
    .statP{
        display: flex;
        flex:auto;
        border:2px solid black;
        justify-content: center;
        height: 5vh;
        font-size: 3vh;
        color: black;
    }
    .statP a:link{
        text-decoration: none;
    }
    .statP a:hover {
      color: black;
      background-color: blanchedalmond;
    }
    .stat h1{
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .bi-bi-cup-hot{
        margin-right: 10px;

    }
    .bigtable{
        display: flex;
        flex: auto;
        border: 1px solid black;
        max-height: 80%;
        overflow: auto;
        display: inline-block;
        width: 100%;
        z-index: -1;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    td{
        display: flex;
        flex: auto;
        align-items: center;
        justify-content: space-between;
        border: 1px solid black;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    p{
        margin: 0;
        font-size: 2vh;
    }
    .floor{
        width: 100%;
        position: fixed;
        background-color: #bcd890;
        z-index: 3;
        top: 90vh;
        bottom: 0px;
    }
    .aguanteTop{
        width: 100%;
        position: fixed;
        background-color: white;
    }
    .imag{
        width: 40%;
        height: 40%;
    }
    .carrito{
      margin: 1%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .botoncito{
      background-color: #83d37d;
      border-color: rgb(0, 0, 0);
      border-radius: 5px;
    }