  /*barra de navegacion left*/
  .barnav{
    position:fixed;
    border:1px solid black;
    width: fit-content;
    flex: 0 1 0;
    flex-direction: column;
    display: flex;
    bottom: -2px;
    left: 0px;
    height: 100vh;
    top:0px;
    z-index: -1;
    justify-content: flex-start;
    gap: 20px;
    /*background-color:rgb(231, 191, 155);*/
  }
  h1{
    font-style: italic;
  }
  .icon{
    flex-direction: column;
    flex: 0 1 1;
    display: flex;
    width:auto;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
  .btn-outline-light{
    background-color: whitesmoke;
  }
  .a_icon{
    height: 54px;
  }
  /* Fin de la barra lateral */
  
table{
    border-radius: 15px;
}
.cash{
    text-align: left;
    float:right;
    border: 1px solid black;
    width: 550px;
    height: 50px;
    float: right;
    margin-right: 27%;
    margin-top: 1%;
    background-color: #BDECB6;
}
.second{
    text-align: left;
    float:right;
    border: 1px solid black;
    width: 550px;
    height: 50px;
    float: right;
    margin-right: 27%;
    margin-top: 1%;
}
.log{
    float: right;
    margin-right: 10%;
}
.tastes{
    text-align: left;
    float:right;
    border: 1px solid black;
    width: 550px;
    height: 50px;
    float: right;
    margin-right: 27%;

}
.first{
    text-align: left;
    float:right;
    border: 1px solid black;
    width: 550px;
    height: 50px;
    float: right;
    margin-right: 13%;
    margin-top: 3%;
}
.add{
    float: right;
    margin-right: 150px;
}
.close{
    float: right;
    margin-right: 150px;
    margin-top:2px;
}
.mesas{
    border:1px solid black;
    padding:10px;
    text-align: center;
    margin-top:10px;
    margin-left: 150px;
}
.llevar{
    border:1px solid black;
    padding:10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 150px;
}
.addcom{
    text-align: center;
}
.pro{
    text-align: center;
} 