  /*barra de navegacion left*/
  .barnav{
    position:fixed;
    border:1px solid black;
    width: fit-content;
    flex: 0 1 0;
    flex-direction: column;
    display: flex;
    bottom: -2px;
    left: 0px;
    height: 100vh;
    top:0px;
    z-index: -1;
    justify-content: flex-start;
    gap: 20px;
    background-color:rgb(231, 191, 155);
  }
  h1{
    font-style: italic;
  }
  .icon{
    flex-direction: column;
    flex: 0 1 1;
    display: flex;
    width:auto;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
  .a_icon{
    height: 54px;
  }
  /* Fin de la barra lateral */
.cash{
    text-align: center;
    border: 2px solid black;
    width: 550px;
    height: 50px;
    float: right;
    margin-right: 33%;
    margin-top: 3%;
    border-radius: 15px;
    background-color: #BDECB6;
    }
    table{
    border: 1px solid black;
    width: 550px;
    border-radius: 15px;
    }
    .envases1{
    float: right;
    margin-right: 5%;
    margin-top: 5%;    
    }
    .envases2{
    float: right;
    margin-right: 33%;    
    }
    .envases3{
    float: right;
    margin-right: 33%;
        
    }
    .envases4{
    float: right;
    margin-right: 33%;    
    }
    .envases5{
    float: right;
    margin-right: 33%;
        
    }
    .close{
    float: right;
    margin-right: 25%;
    }
    .title{
    text-align: center;
    }