body{
    background-image: url(resources/dolcezzabckgrCp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
form{
    height: 100vh;
    width: 100%;
    background: rgb(60 38 9 / 40%);
}
input{
    font-family: garamond serif;
    color: antiquewhite;
    width: 100%;
    height: 100vh;
    background-color:transparent;
    font-size: 10vh;
}